/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');

:root {
    --hitam1: #33363f;
    --hitam2: #22262F;
    --hijau: #11FFBE;
    --biru: #1e90ff;
    --putih: #ffffff;
    --abu: #9ea4b2;
    --abu2:#718096;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: var(--hitam1);
}

/* Navbar */
.bg-navbar {
    background: var(--hitam2);
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(--abu);
}

.navbar-brand:hover {
    color: var(--biru);
}

.nav-link {
    color: var(--abu);
}

.nav-link:hover {
    color: var(--biru);
}
/* 
position: relative;
*/
/* Header */
header {
    background: var(--hitam2);
    color: var(--putih);
    text-align: left !important;
}

@media (max-device-width: 600px) {
    header {
      text-align: center !important;
    }
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

header img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

header h1 {
    position: relative;
    z-index: 5;
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: -.03em;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header h1 span {
    font-family: 'Kalam', cursive;
}

header h1 a {
    color: #9ea4b2;
    text-decoration: none;
}

header h1 a:hover {
    color: #3694EF;
}

header h2 {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-weight: 700;
}

header h2 s {
    color: #9ea4b2;
}

header h2 a {
    color: var(--abu);
    text-decoration: none;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

header h2 a:hover {
    color: var(--biru);
}

@media (max-device-width: 600px) {
    header h2 {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        margin-top: 1rem;
        font-size: 2rem;
    }
}

/* Selection karya */

section h1.judul {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
}

section p.deskripsi {
    color: #bebebe;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.kotak-karya {
    background: #1D1D1D;
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 200px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.kotak-karya a{
    text-decoration: none;
    color: #ffffff;
}

.kotak-karya a h1:hover {
    color: #3694EF;
}

.kotak-karya i {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Section Kontak */
#kontak {
    background: #22262F;
    min-height: 400px;
}

#kontak h2 {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#kontak h3 {
    color: #a3a3a3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
    word-wrap: break-word;
}

#kontak a {
    color: var(--abu2);
    font-weight: 400;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#kontak a:hover {
    color:  var(--biru);
}